<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770218009343-nhr06i2tavh4ecoksok62egqam5eq5ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770218009343-nhr06i2tavh4ecoksok62egqam5eq5ns</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5o4HIvGJFI05pMIJ9Ue0JOoWZyk-mVI</string>
	<key>GCM_SENDER_ID</key>
	<string>770218009343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emf.mealmate</string>
	<key>PROJECT_ID</key>
	<string>mealmate-b3b1e</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmate-b3b1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770218009343:ios:6807d0cb03450d160562ca</string>
</dict>
</plist>